* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F4;
    max-height: 100dvh;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}